<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <div th:replace="layout/plantilla :: header"></div>

        <div class="container mt-5">
            <h2>Mi Perfil</h2>
            <p><strong>Nombre:</strong> <span th:text="${usuario.nombre}">Nombre</span></p>
            <p><strong>Correo:</strong> <span th:text="${usuario.correo}">correo@ejemplo.com</span></p>

            <h3 class="mt-4">Proyectos Realizados</h3>
            <div th:if="${#lists.isEmpty(proyectos)}">
                <p>No has agregado aún ningún proyecto.</p>
            </div>
            <div th:if="${!#lists.isEmpty(proyectos)}">
                <div class="list-group">
                    <div class="list-group-item" th:each="proyecto : ${proyectos}">
                        <h5 th:text="${proyecto.titulo}">Título Proyecto</h5>
                        <p th:text="${proyecto.descripcion}">Descripción...</p>
                        <p>
                            <strong>Finalizado:</strong>
                            <span th:text="${proyecto.fechaFin}">2025-07-28</span>
                        </p>
                        <a th:if="${proyecto.enlace}" th:href="${proyecto.enlace}" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="layout/plantilla :: footer"></div>
    </body>
</html>
