<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
         <main class="container mt-5">
        <h2 class="text-center mb-4">Sobre Nosotros</h2>

        <section class="mb-5">
            <h4>Historia</h4>
            <p>
                BlockDesign nació en 2025 como una iniciativa universitaria enfocada en ofrecer a personas talentosas y comprometidas un espacio para poner en practica sus conocimientos. En blockDesign
                todos aquellos que tienen recorrido en el area de diseño y dibujo de espacios internos, arquitectonicos, civiles, mecanicos, electricos y/o industriales podran participar por diferentes 
                ofertas laborales. BlockDesign es conciente de la naturaleza de la profesion como dibujantes y diseñadores, son profesiones que ofrecen a estudiantes con tecnicos medios o estudiantes universitarios
                la oportunidad de realizar su primer trabajo remunerado. Es por ello que BlockDesign se compromete en crear un espacio seguro y facil, para conectar con las instituciones y profesionales en busca
                de diseñadores y dibujantes. De esa forma BlockDesign con el paso del tiempo podra consolidarse como una empresa especializada en desarrollo y diseño de proyectos contructivos, aliado de contructoras,
                consultoras, ingenieros, arquitectos y diseñadores del pais, una alternativa moderna y eficaz al desarrollo contructivo.
            </p>
        </section>

        <section class="mb-5">
            <h4>Misión</h4>
            <p>
                Ofrecer soluciones tecnológicas innovadoras, seguras y reguladas que se adapten a las necesidades de nuestros clientes, 
                garantizando calidad, compromiso y crecimiento conjunto entre los clientes y los talentosos diseñadores/dibujantes.
            </p>
        </section>

        <section class="mb-5">
            <h4>Visión</h4>
            <p>
                Ser reconocidos como una empresa líder en diseño y desarrollo digital en Costa Rica, 
                destacándonos por nuestro enfoque humano, ético y creativo. Facilitando a todos aquellos que busquen desarrollar un proyecto, encontrar los medios y profesionales necesarios.
            </p>
        </section>

        <section class="mb-5">
            <h4>Ubicación</h4>
            <p>Nuestras oficinas administrativas pueden ser encontradas en San José, Costa Rica.</p>
            <div class="ratio ratio-16x9">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.023037992372!2d-84.083333!3d9.933333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fae3b43d3c01%3A0x4f0bb63f94f8322b!2sSan%20Jos%C3%A9%2C%20Costa%20Rica!5e0!3m2!1ses-419!2scr!4v1700000000000"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>
    </main>



        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>